<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>


<form method="post" th:action="@{/posts/edit}" th:object="${post}">
    <div class="form-group">
        <label th:for="title">Blog Title</label>
        <input class="form-control" type="text" th:field="*{title}" placeholder="Title" />
        <span th:errors="*{title}" class="error"></span>


    </div>
    <div class="form-group">
        <label th:for="body">Blog Content</label>
        <textarea  class="form-control" th:field="*{body}"  placeholder="Content"></textarea>
        <span th:errors="*{body}" class="error"></span>
    </div>

    </div>
    <div class="form-group">
        <label th:for="date">Date</label>
        <input  class="form-control" th:field="*{date}" placeholder="Created Date Format (YYYY/MM/DD)"/>
        <span th:errors="*{date}" class="error"></span>
    </div>

    <input type="hidden" th:value="${post.id}" name="id" />
    <input type="submit" value="Edit Blog"/>
</form>

</body>
</html>

