<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container" >

<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}" >Default Title</h1>

<h1 th:unless="${posts} and ${posts.size()}">no blog :(</h1>

<div class="jumbotron text-center" style="background-image: url('beach.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;" >
    <h1 class="text-warning"> Welcome to my travel blog page</h1>
    Now is: <b th:text="${#dates.format(execInfo.now.time, 'dd-MMM-yyyy HH:mm:ss')}"></b>
</div>

<br>

<div th:fragment="posts" class="bg-light text-dark">

    <div th:each="post : ${posts}">
        <div>
            <h4><a th:href="@{'/posts/detail/'+ ${post.id}}" th:text="${post.title}">Title</a></h4>

            <div>
                <em><a  class="d-inline"  th:text="'Created: ' + ${#dates.format(post.createDate, 'dd-MMM-yyyy HH:mm:ss')}"></a></em> |
                <em><a  class="d-inline"  th:text="'Updated: ' + ${#dates.format(post.updateDate, 'dd-MMM-yyyy HH:mm:ss')} + ' by ' "></a></em>
                <a class="d-inline"  th:text="${post.user.username}" th:href="@{/user/profile}">Created by User</a>
            </div>
        </div>

        <p th:text="${post.body}"></p>
        <hr/>

    </div>
</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>