<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default title</h1>



<table class="table table-hover">

    <thead>

    <tr>

        <th>Name</th>

        <th>Email</th>

    </tr>

    </thead>

    <tbody>

    <tr th:each="user:${users}">

        <td th:text="${user.username}"></td>

        <td th:text="${user.email}"></td>

    </tr>

    </tbody>



</table>



</body>

</html>