<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}">Default Title</h1>

<h1 th:unless="${posts} and ${posts.size()}">no blog :(</h1>

<h1> Welcome to my blog</h1>
Now is: <b th:text="${execInfo.now.time}"></b>
<br>

<a href="/posts/create">Create Your Blog</a>
<div>
    <li th:each="post : ${posts}">
        <h1><a th:href="@{'/posts/detail/'+ ${post.id}}" th:text="${post.title}">Title</a></h1>
<!--    <div th:text="'Created: ' + ${#dates.format(post.createDate, 'dd-MMM-yyyy')} + ' by '">Created by</div> -->
        <p th:text="${post.body}">Body</p>


    </li>
</div>

</body>
</html>